@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot') format('eot'),
    src: url('../fonts/Vazir.ttf') format('truetype'),
    url('../fonts/Vazir.woff') format('woff');
}

*{
    font-family: 'Vazir' !important;
}

body{
    direction: rtl;
    text-align: right;
    bor
}